<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QuantumLabs</title>
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/applications">applications</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- Hero Section -->
    <section class="hero">
      <h1>Welcome to QuantumLabs</h1>
      <p>Innovative Solutions in Bot Development, Website Design, and Gaming</p>
      <a href="/projects" class="cta-button">Explore Our Projects</a>
    </section>

    <!-- Meet Our Team Section -->
    <section class="team">
      <h2>Meet Our Team</h2>
      <div class="team-members">
        <div class="team-member">
          <img src="/assets/imgs/deolin.png" alt="Team Member">
          <h3>Deolin</h3>
          <p>LD/Donator</p>
        </div>
        <div class="team-member">
          <img src="/assets/imgs/s7nx.gif" alt="Team Member">
          <h3>S7NX</h3>
          <p>Visonary/LD</p>
        </div>
        <div class="team-member">
          <img src="/assets/imgs/shark.png" alt="Team Member">
          <h3>Shark</h3>
          <p>Creator</p>
        </div>
        <div class="team-member">
            <img src="/assets/imgs/mrclix.jpeg" alt="Team Member">
            <h3>mrclix</h3>
            <p>Creator</p>
          </div>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2025 QuantumLabs. All rights reserved.</p>
    <p>Made and Developed by QuantumLabs</p>
  </footer>
</body>
</html>
